## Exercicios Cap02 / Pablo Ignacio M.

In [4]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista = [1,2,3,4,5,6,7,8,9,10]

In [5]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista2 = ['Pablo', 'Maggie', 'Pedro', 'Santiago', 'Martina']

In [7]:
lista2

['Pablo', 'Maggie', 'Pedro', 'Santiago', 'Martina']

In [14]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
frase1 = 'Se beber '
frase2 = 'Não diriga'
frase_final = frase1 + frase2

In [15]:
frase_final

'Se beber Não diriga'

In [16]:
print(frase_final)

Se beber Não diriga

In [17]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

In [18]:
tupla.count(4)

3

In [20]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict = {}

In [21]:
dict

{}

In [23]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict = {'k1':'martelo', 'k2':'serrote', 'k3':'machado'}

In [24]:
print(dict)

{'k1': 'martelo', 'k2': 'serrote', 'k3': 'machado'}

In [25]:
dict

{'k1': 'martelo', 'k2': 'serrote', 'k3': 'machado'}

In [26]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict['k4'] = 'madeira'

In [27]:
dict

{'k1': 'martelo', 'k2': 'serrote', 'k3': 'machado', 'k4': 'madeira'}

In [30]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dict2 = {'p1' : 'Pablo', 'p2' : "Juan", 'p3' : [38, 40]}

In [31]:
print(dict2)

{'p1': 'Pablo', 'p2': 'Juan', 'p3': [38, 40]}

In [32]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
lst = ['String1', (90, 92), {'k1':'v1', 'k2':'v2'}, 99.98]
print(lst)

['String1', (90, 92), {'k1': 'v1', 'k2': 'v2'}, 99.98]

In [33]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'

## FIM